:root {    /*setting the primary color*/
    --secondary-color: #e9f358;
}
body{
    margin: 0 35px;
    padding: 0;
}
.main_wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90vh;
}
.accountSetupModal{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 30%;
    height: 55%;
    background-color: whitesmoke;
}
.authenticationTabs{
    width: 45%;
    display: flex;
    justify-content: space-between;
}
.input-container {
    position: relative;
    margin-top: 40px;
    width: 200px;
}
.input-container input {
width: 100%;
padding: 10px;
border: 1px solid black;
outline: none;
border-radius: 10px;
background-color: whitesmoke;
}

.input-container label {
position: absolute;
top: 0;
left: 10px;
padding-top: 10px;
pointer-events: none;
transition: all 0.3s ease;
}

.input-container input:focus ~ label,
.input-container input:not(:placeholder-shown) ~ label {
transform: translateY(-20px);
font-size: 18px;
color: blue;
background-color: whitesmoke;
}
#accountForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.roundedButton {
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    width: 100px;
}
.signup{
    cursor: pointer;
}
.login {
    cursor: pointer;
    color: var(--secondary-color);
}
.alertmsg {
    position: absolute;
    background-color: antiquewhite;
    display: none;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 20%;
    margin-top: 20px;
    border-radius: 20px;
}
.Homepage{
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.2;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    width: 100%;
    height: 100%;
}
.navBar{
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: space-between;
    width: 98%;
    height: 50px;
    background-color: blanchedalmond;
}
.accNotifications{
    display: flex;
    width: 20%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
.circCont{
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: #e9f358;
}
.accounts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sideBar {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mainInterface{
    width: 100%;
    height: 100%;
    display: flex;
}
span {
    margin: 0 6px;
}
.dasboardBtn{
    width: 150px;
    text-align: center;
    background-color: whitesmoke;
    margin-bottom: 15px;
    padding: 15px;
}
.pageCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    margin-top: 20px;
    width: 50%;
    height: 100%;
}
.quotationCount, .pantryTitle{
    margin: 20px 0;
    font-size: 20px;
    font-family: Inter;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
}
.quotationCount{
    margin-bottom: 30px;
}
.pantryTitle{
    font-size: 18px;
}
.dashPantryTabs{
    height: 45px;
    width: 80%;
    background-color: whitesmoke;
}
.pantryPreview{
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 20px;
    height: 60%;
    width: 90%;
    background-color: antiquewhite;
}
.pantryTabsWrapper{
    width: 70%;
    display: flex;
    justify-content: center;
}
.pageRight{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 25%;
    margin-left: 20px;
    height: 100%;
    background-color: azure;
}
.viewPantry{
    background-color: #F8F9FA;
}
.viewPantry, .dateDataCont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 80%;
}
.avlItems{
    color: #636C6D;
    font-family: Inter;
    font-style: italic;
    line-height: normal;
}
.date_day{
    color: #636C6D;
    font-family: Inter;
    font-style: italic;
    line-height: normal;
}
.orderContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 30%;
    height: 70%;
    background-color: black;
    text-align: center;
    color: white;
}
.calender_quotations{
    width: 80%;
    height: 60%;
    background-color: blanchedalmond;
}
.pantryData{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    padding: 10px;
    white-space: nowrap;
}
.inventoryBoard{
    margin-top: 50px;
    position: absolute;
    width: 60%;
    height: 100%;
    background-color: paleturquoise;
}
