:root {    /*setting the primary color*/
    --secondary-color: #e9f358;
}
body{
    margin: 0 35px;
    padding: 0;
}
.main_wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90vh;
    background-color: bisque;
}
.accountSetupModal{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 30%;
    height: 55%;
    background-color: whitesmoke;
}
.authenticationTabs{
    width: 45%;
    display: flex;
    justify-content: space-between;
}
.input-container {
    position: relative;
    margin-top: 40px;
    width: 200px;
}
.input-container input {
width: 100%;
padding: 10px;
border: 1px solid black;
outline: none;
border-radius: 10px;
background-color: whitesmoke;
}

.input-container label {
position: absolute;
top: 0;
left: 10px;
padding-top: 10px;
pointer-events: none;
transition: all 0.3s ease;
}

.input-container input:focus ~ label,
.input-container input:not(:placeholder-shown) ~ label {
transform: translateY(-20px);
font-size: 18px;
color: blue;
background-color: whitesmoke;
}
#accountForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.roundedButton {
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    width: 100px;
}
.signup{
    cursor: pointer;
}
.login {
    cursor: pointer;
    color: var(--secondary-color);
}
.alertmsg {
    position: absolute;
    background-color: antiquewhite;
    display: none;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 20%;
    margin-top: 20px;
    border-radius: 20px;
}
.Homepage{
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.2;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    width: 100%;
    height: 100%;
}
.navBar{
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: space-between;
    width: 98%;
    height: 50px;
    background-color: blanchedalmond;
}
.accNotifications{
    display: flex;
    width: 20%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
.circCont{
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: #e9f358;
}
.accounts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sideBar {
    width: 12%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mainInterface{
    width: 100%;
    height: 100%;
    display: flex;
}
span {
    margin: 0 6px;
}
.dasboardBtn{
    width: 150px;
    text-align: center;
    background-color: whitesmoke;
    margin-bottom: 15px;
    padding: 10px;
}
.pageCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    margin-top: 20px;
    width: 50%;
    height: 100%;
}
.quotationCount, .pantryTitle{
    margin: 20px 0;
    font-size: 20px;
    font-family: Inter;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
}
.quotationCount{
    margin-bottom: 30px;
}
.pantryTitle{
    font-size: 18px;
}
.dashPantryTabs{
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    width: 80%;
    background-color: whitesmoke;
}
.dashPantryTabs :first-child{
    color: #e9f358;
}
.pantryPreview{
    margin-top: 20px;
    margin-right: 40px;
    margin-bottom: 10px;
    height: 60%;
    width: 100%;
}
.pantryTabsWrapper{
    width: 70%;
    display: flex;
    justify-content: center;
}
.pageRight{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 25%;
    margin-left: 20px;
    height: 100%;
    background-color: azure;
}
/* .viewPantry{
    background-color: #F8F9FA;
} */
.viewPantry, .dateDataCont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 80%;
}
.avlItems{
    color: #636C6D;
    font-family: Inter;
    font-style: italic;
    line-height: normal;
}
.date_day{
    color: #636C6D;
    font-family: Inter;
    font-style: italic;
    line-height: normal;
}
.orderContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 30%;
    height: 70%;
    background-color: black;
    text-align: center;
    color: white;
}
.calender_quotations{
    width: 80%;
    height: 60%;
    background-color: blanchedalmond;
}
.pantryData{
    height: 100%;
    overflow-y: auto;
    max-height: calc(200px * 3);
    display: flex;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    padding: 10px;
    white-space: nowrap; */
}
.inventoryBoard{
    display: none;
    justify-content: space-between;
    margin-top: 50px;
    position: absolute;
    width: 60%;
    height: 100%;
}
.shelves{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
}
.shelfItemDets{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33%;
    height: 100%;
    background-color: whitesmoke;
}
.shelfItemImageDets{
    width: 80%;
    height: 25%;
    background-color: yellowgreen;
}
.addItemBtn{
    background-color: black;
    color: white;
    padding: 4px;
    width: 120px;
    height: 35px;
}
.invButtons{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}
.invForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 40%;
}
.thresholdCont{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
}
.addbutton, .subbutton {
    border-radius: 50%;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: #e9f358;
}
#threshCount{
    background: transparent;
    text-align: center;
    border: none;
    width: 30px;
    height: 20px;
}
#threshCount :focus{
    outline: none;
    border: none;
}
#threshCount::placeholder{
    text-align: center;
}
.threshCountCont{
    position: absolute;
    right: -20px;
    top: 20%;
    display: flex;
    align-items: center;
}
.topShelf{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 40px;
    background-color: beige;
}
.shelvesData{
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    height: 100%;
}
#closeInventory{
    position: absolute;
    right: 10px;
    top: 8px;
}
.dropdown{
    border: none;
    border-bottom: 1px solid black;
}
.selectCont{
    width: fit-content;
    height: fit-content;
    background-color: transparent;
}
.shelfItemDets img{
    width: 100%;
    height: 100%;
}
.shelfItemCont{
    height: 200px;
    width: 30%;
    margin: 10px;
    background-color: #F8F9FA;
}
.imageShelfItem{
    height: 70%;
    width: 100%;
    background-color: blanchedalmond;
}
.imageShelfItem img{
    width: 100%;
    height: 100%;
}
.shelfItemDetails{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4%;
}
.calendarCont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45%;
    width: 100%;
    background-color: aqua;
}
.shoppingList{
    width: 100%;
    height: 100%;
    background-color: aquamarine;
}
.listItem{
    display: flex;
    justify-content: space-between;
}
.shoppingListWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    width: 100%;
    height: 55%;
}
.accountsDets{
    display: none;
    right: 0;
    top: 55px;
    height: 30%;
    width: 15%;
    position: absolute;
    background-color: lightblue;
    border-radius: 20px;
    /* clip-path: polygon(0 23%, 50% 0, 100% 23%, 100% 100%, 0 100%, 0 49%); */
}
.current-date {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9f358;
    font-weight: bold;
}

